@charset "utf-8";
/***** S ::Reset *****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main{display:block;}
html, body{height:100%;}
ul, ol {list-style: none;margin: 0;padding: 0;}
li {margin: 0;padding: 0;}
a{color:inherit;text-decoration:none;}
hr{clear:both;display:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
img, fieldset{border:0;}
img{vertical-align:middle;}
input, button, select, textarea{vertical-align:middle;padding:0;}
textarea{resize:none;}
table, th, td, input, select, button, textarea, pre{font:inherit;color:inherit;}
input, button{border:0;border-radius:0;background:none;}
label{cursor:pointer;outline:none !important;}
table{border-collapse:collapse;border-spacing:0;border:0;}
th, td{word-break:break-all;word-wrap:break-word;}
legend, caption{visibility:hidden;overflow:hidden;line-height:0;width:0;height:0;margin:0;padding:0;text-indent:-99999px;font-size:0;}
.hidden{position:absolute;visibility:hidden;overflow:hidden;height:0;line-height:0;width:0;margin:0;padding:0;font:0/0 Arial;}
button{background-color:transparent;cursor:pointer;padding:0;}
input::-webkit-inner-spin-button{appearance:none;-moz-appearance:none;-webkit-appearance:none;}
/***** E ::Reset *****/



/***** S ::Layout Wrap *****/
html{font-family:'Pretendard', "Roboto", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;}
body.scroll_hidden{overflow-y: hidden;}
html *::-webkit-scrollbar {width:11px;border:1px solid #a6afbe; height:11px;}
html *::-webkit-scrollbar-thumb{background:#aaaaaa;background-clip:padding-box;width:4px;border:2px solid transparent;border-radius:10px;}
html *::-webkit-scrollbar-track{height:10px;background:#F2F5FC;border:1px solid #F2F5FC;}
/***** E ::Layout Wrap *****/
