.blind {position: absolute !important; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0 0 0 0); clip-path: inset(50%); white-space: nowrap; border: 0;}

.esg_ty {display:flex;width:100vw;height:100vh;overflow:hidden;}

.esg_cont {overflow-x:hidden;overflow-y:auto;box-sizing:border-box;min-width:0;height:100%;padding:100px 0;}
.esg_cont_inner {min-height:100%;}

/* step01 */
.step01 .esg_cont_inner {box-sizing:border-box;padding-top:126px;}
.esg_tit {text-align:center;color:#fff;}
.esg_tit > p {font-size:52px;letter-spacing:-1px;}
.esg_tit > strong {margin-top:25px;font-size:100px;font-weight:700;letter-spacing:-2px;}

.esg_select_msg {width:1282px;margin:124px auto 0;padding:84px 102px;border-radius:30px;text-align:center;color:#fff;background-color:rgba(42, 55, 85, 0.77);}
.esg_select_msg .t1 {font-size:60px;font-weight:700;letter-spacing:-1.2px;}
.esg_select_msg .t2 {margin-top:28px;font-size:40px;font-weight:500;letter-spacing:-1px;}

.esg_select_slide {overflow:visible;box-sizing:border-box;margin-top:190px;}
.esg_select_slide .slide {box-sizing:border-box;}
.esg_select_slide .slide > div {
    position:relative;
    overflow:hidden;
    box-sizing:border-box;
    width:808px;height:808px;
    border: 5px solid transparent;border-radius:45px;
    background: linear-gradient(#081020, #081020) padding-box, linear-gradient(100deg, #D9E5FE 0%, #CADAFC 40%, #0071FE 100%) border-box;
    box-shadow: 0 0 20px 4.5px rgba(217, 229, 254, 0.10), 0 0 53.4px 0 rgba(217, 229, 254, 0.10), 0 0 55.5px 0 rgba(217, 229, 254, 0.10), 0 0 24.1px 0 rgba(217, 229, 254, 0.10), 0 0 13.3px 0 rgba(217, 229, 254, 0.10), 0 0 45.9px 0 rgba(217, 229, 254, 0.10);
    text-align:center;color:#fff;
}

.esg_select_slide .slide .txt {
    display:flex;flex-direction:column;align-items:center;justify-content:center;gap:16px;
    position:absolute;left:0;top:0;
    width:100%;height:100%;
    z-index:1;
    box-shadow: 0 1px 0 0 #FFF inset, 0 0 20px 0 rgba(217, 229, 254, 0.25), 0 0 20px 0 rgba(217, 229, 254, 0.25);
    backdrop-filter:blur(25px);
}
.esg_select_slide .slide .txt .t1 {font-size:96px;font-weight:800;letter-spacing:-1.9px;}
.esg_select_slide .slide .txt .t2 {font-size:48px;font-weight:500;letter-spacing:-1px;}

/* esg_dim */
.esg_dim {
    position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.60);z-index:1000;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
}
.esg_dim::after {content:'';display:block;width:100%;height:100%;background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #152A5E 100%);}

/* panel_side */
.panel_side {
    display:flex;flex-direction:column;overflow:hidden;position:fixed;right:0;top:0;width:1766px;height:100%;border-radius:60px 0 0 60px;background-color:#1D222C;z-index:1001;
    transform: translateX(100%);
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
}
.panel_side .top {position:relative;padding:46px 120px 46px 154px;background-color:#080A0C;color:#fff;}
.panel_side .top > strong {font-size: 82px;font-weight: 700;letter-spacing: -1.64px;}
.panel_side .top > p {margin-top:10px;font-size: 48px;font-weight: 500;letter-spacing: -0.96px;}
.panel_side .cnt {overflow-y:auto;box-sizing:border-box;flex:1 1 auto;height:100%;padding:76px 78px 98px 78px;}
.panel_side .cnt::-webkit-scrollbar {display: none;}
.panel_side .cnt .cnt_inner {box-sizing:border-box;}

.btn_panel_close {position:absolute;top:98px;right:120px;width:54px;height:54px;border:0 none;background:url(../images/gate_03/btn_close_panel.svg) no-repeat center;}


.option_grid {display: grid;grid-template-columns:repeat(2, 1fr);grid-auto-rows: auto;gap: 40px 60px;}
.option_grid > li {padding:50px 80px;border-radius:30px;background: #282C36;}
.option_grid > li.full {grid-column: span 2;}
.option_grid .option_tit {display:flex;align-items:center;justify-content:space-between;margin-bottom:40px;}
.option_grid .option_tit .tit {font-size: 52px;font-weight: 700;letter-spacing: -1.04px;color:#fff;}
.option_grid .option_tit .info {display:flex;align-items:center;font-size:52px;font-weight:500;color:#fff;}
.option_grid .option_tit .info > strong {font-size:64px;font-weight:800;color:#0071FE;}

.option_grid > li.opt_slider .option_tit {margin-top:-8px;}


.option_slider {margin-top:64px;}
.option_slider .range {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

.option_slider .range::-webkit-slider-runnable-track {
    height: 19px;
    background: #D9D9D9;
    border-radius: 100px;
}

.option_slider .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 64px;
    height: 64px;
    margin-top:-22.5px;
    border-radius: 50%;
    background: #0071FE;
    border: 3px solid #D9E5FE;
    cursor: pointer;
    box-shadow:
        0 0 46px rgba(217,229,254,0.10),
        0 0 13px rgba(217,229,254,0.10),
        0 0 24px rgba(217,229,254,0.10),
        0 0 55px rgba(217,229,254,0.10),
        0 0 53px rgba(217,229,254,0.10),
        0 0 20px rgba(217,229,254,0.10);
}

.option_slider .range::-moz-range-track {
    height: 19px;
    background: #D9D9D9;
    border-radius: 100px;
}

.option_slider .range::-moz-range-thumb {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #0071FE;
    border: 3px solid #D9E5FE;
    cursor: pointer;
    box-shadow:
        0 0 46px rgba(217,229,254,0.10),
        0 0 13px rgba(217,229,254,0.10),
        0 0 24px rgba(217,229,254,0.10),
        0 0 55px rgba(217,229,254,0.10),
        0 0 53px rgba(217,229,254,0.10),
        0 0 20px rgba(217,229,254,0.10);
}

.option_slider_labels {display:flex;align-items:center;justify-content:space-between;margin-top:60px;padding:0 50px;}
.option_slider_labels > li {display: flex;justify-content:center;width:0;}
.option_slider_labels > li > span {display:block;font-size: 32px;font-weight: 500;letter-spacing: -0.64px;color: #FFF;white-space:nowrap;}

.option_li {display: grid;grid-template-columns:repeat(auto-fill, minmax(600px, auto));grid-auto-rows: auto;gap:25px 100px;}

/* inp_ty_btn */
.inp_ty_btn {display:block;position:relative;overflow:hidden;cursor:pointer;}
.inp_ty_btn > input {position: absolute !important; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0 0 0 0); clip-path: inset(50%); white-space: nowrap; border: 0;}
.inp_ty_btn > input + span {display:flex;align-items:center;justify-content:center;height:124px;border-radius:20px;background:#BEBEBE;font-size:48px;font-weight:500;letter-spacing:-0.96px;color:#fff;}
.inp_ty_btn > input:checked + span {font-weight:800;background:#0071FE;}

/* btns */
.panel_side .btns {display:flex;align-items:flex-start;margin-top:96px;}
.panel_side .btns > .lt,
.panel_side .btns > .rt {display:flex;align-items:center;}
.panel_side .btns > .rt {margin-left:auto;}

.btn_round {height:156px;padding:0 120px;border: 1px solid #BEBEBE;border-radius: 100px;background:#383C45;font-size: 64px;font-weight: 500;line-height: 1.5;letter-spacing: -1.92px;color:#757575;}
.btn_round.confirm {border:5px solid transparent;color:#FFF;background: linear-gradient(#202B44, #202B44) padding-box, linear-gradient(100deg, #D9E5FE 0%, #CADAFC 40%, #0071FE 100%) border-box;box-shadow: 0 0 20px 4.5px rgba(217, 229, 254, 0.10), 0 0 53.4px 0 rgba(217, 229, 254, 0.10), 0 0 55.5px 0 rgba(217, 229, 254, 0.10), 0 0 24.1px 0 rgba(217, 229, 254, 0.10), 0 0 13.3px 0 rgba(217, 229, 254, 0.10), 0 0 45.9px 0 rgba(217, 229, 254, 0.10);}


.chk_panel {
    box-sizing:border-box;
    width:1345px;
    margin:88px auto 0;
    padding:90px 110px 124px;
    border: 5px solid transparent;border-radius:45px;
    background: linear-gradient(#081020, #081020) padding-box, linear-gradient(100deg, #D9E5FE 0%, #CADAFC 40%, #0071FE 100%) border-box;
    box-shadow: 0 0 20px 4.5px rgba(217, 229, 254, 0.10), 0 0 53.4px 0 rgba(217, 229, 254, 0.10), 0 0 55.5px 0 rgba(217, 229, 254, 0.10), 0 0 24.1px 0 rgba(217, 229, 254, 0.10), 0 0 13.3px 0 rgba(217, 229, 254, 0.10), 0 0 45.9px 0 rgba(217, 229, 254, 0.10);
}
.chk_panel .tit_box_area {position:relative;height:174px;}
.chk_panel .tit_box {position:absolute;left:0;top:0;width:100%;padding:46px 0 40px;border-radius: 30px;text-align:center;background-color:#2A354D;}
.chk_panel .tit_box.tit02 {overflow:hidden;left:auto;right:0;width:0;}
.chk_panel .tit {display: block;font-size: 60px;font-weight: 700;letter-spacing: -1.2px;color:#fff;white-space:nowrap;}

.chk_li {overflow-x:hidden;overflow-y:auto;box-sizing:border-box;height:880px;margin-top:140px;scrollbar-width: none;}
.chk_li li {position:relative;}
.chk_li li + li {margin-top:28px;}

.chk_li label {display:block;position:relative;max-width:fit-content;}
.chk_li input {position: absolute !important; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0 0 0 0); clip-path: inset(50%); white-space: nowrap; border: 0;}
.chk_li input[type=checkbox] + span {position:relative; display:inline-block; min-height:62px; padding-left:90px;}
.chk_li input[type=checkbox] + span .txt {display:inline-block; vertical-align:middle; font-size:48px; color:#FFF; font-weight:500; letter-spacing:-0.96px; text-transform:uppercase;}
.chk_li input[type=checkbox] + span .ic_chk {display:block;position:absolute; top:50%; left:0; width:62px; height:62px; margin-top:-31px; border-radius:50%; background:#717171 url(../images/gate_03/ico_chk.svg) no-repeat center;}
.chk_li input[type=checkbox]:checked + span .ic_chk {background-color:#0071FE;}

.chk_li input[type=checkbox] + span .ico_esg {content:''; display:inline-block; vertical-align:middle; width:48px; height:48px; margin:4px 0 0 28px; border-radius:50%;}
.chk_li input[type=checkbox] + span .ty_e {background:rgb(70,145,185) url(../images/gate_03/ico_char_e.svg) no-repeat center; background-size:50%;}
.chk_li input[type=checkbox] + span .ty_s {background:rgb(60,125,130) url(../images/gate_03/ico_char_s.svg) no-repeat center; background-size:50%;}
.chk_li input[type=checkbox] + span .ty_g {background:rgb(95,105,230) url(../images/gate_03/ico_char_g.svg) no-repeat center; background-size:50%;}


.esg_btns {display:flex;align-items:center;justify-content:center;margin-top:82px;}
.btn_esg {padding:20px 64px;border-radius: 30px;font-size: 64px;font-weight: 800;letter-spacing: -1.28px;color: #FFF;background-color: #0071FE;}

.progress_wrap {display:flex;align-items:center;justify-content:space-between;gap:15px;position:absolute;width:830px;top:11px;right:0;}
.progress_track {flex:0 0 auto;box-sizing:border-box;width:616px;height:46px;padding:4px;border:1px solid #0071FE;border-radius: 60px;}
.progress_track .bar {display:block;width:100%;height:100%;border-radius:60px;background: linear-gradient(90deg, #202B44 0%, #0071FE 100%);}
.progress_wrap .progress_txt {display:flex;align-items:center;justify-content:space-between;gap:10px;text-align:right;}
.progress_wrap .progress_txt .t1 {font-size:32px;color:#0071FE;letter-spacing: -1px;}
.progress_wrap .progress_txt .percent {display:block;width:90px;font-weight: 700;font-size: 32px;color: #0071FE;letter-spacing: -1px;}


/* --- 애니메이션 --- */
@keyframes panelIn {
  from { transform: translateX(100%); }
  to   { transform: translateX(0); }
}
@keyframes panelOut {
  from { transform: translateX(0); }
  to   { transform: translateX(100%); }
}

@keyframes overlayIn {
  from { opacity: 0; visibility: visible; }
  to   { opacity: 1; visibility: visible; }
}
@keyframes overlayOut {
  from { opacity: 1; visibility: visible; }
  to   { opacity: 0; visibility: hidden; }
}
